.footer-container {
  display: "flex";
  justify-content: center;
  padding: "30px";
}
.footer-para {
  background: radial-gradient(#fff, rgba(3, 3, 182, 0.562));
  width: 100%;
  text-align: center;
  padding: 30px;
  color: blue;
  border-radius: 10px;
}
@media screen and (max-width: 600px) {
  .footer-para {
    font-size: 13px;
  }
}
